/* Container styling */
.introduction-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9e6;
    padding: 2.5rem; /* Increased padding */
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 900px; /* Increased max-width */
    margin: 2.5rem auto; /* Increased margin */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Slightly larger shadow */
    transition: transform 0.2s ease-in-out; /* Smooth transition */
    z-index: 1000; /* High z-index to stay on top */
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s ease-in-out;
  }

.introduction-container:hover{
  scale: 1.03;
}

  a {
    color: #0d90d2;
    text-decoration: none;
    
    transition: text-decoration 0.2s ease-in-out;
  }
  a:hover {
    text-decoration: underline;
  }
  
  /* Photo styling */
  .introduction-photo {
    width: 200px; /* Increased width */
    height: 200px; /* Increased height */
    object-fit: cover;
    border-radius: 8px;
    margin-right: 3rem; /* Increased margin */
    border: 4px solid #1e90ff; /* Slightly larger border */
    transition: 0.3s ease-in-out;
  }

  .introduction-photo:hover{
    scale: 1.03;
  }
  
  /* Text styling */
  .introduction-text {
    max-width: 600px; /* Increased max-width */
  }
  
  .introduction-text h1 {
    font-size: 2.5rem; /* Larger font size */
    color: #232323;
    margin-bottom: 1.5rem; /* Increased margin */
  }
  
  .introduction-text p {
    font-size: 1.25rem; /* Larger font size */
    color: #232323;
    margin-bottom: 1rem; /* Increased margin */
    line-height: 1.75; /* Increased line height */
  }

  @media (max-width: 768px){
    .introduction-text h1 {
      font-size: 1.5rem; 
      margin-bottom: 1rem; 
    }

    .introduction-photo{
      margin: 0;
    }

    .introduction-photo-container{
      display: flex;
      justify-content: center;
    }
    
    .introduction-text p {
      font-size: 1rem; 
      line-height: 1.5; 
    }

    .introduction-container{
      display: block;
      padding: 1.5rem;
      max-width: 550px;
    }

    .introduction-photo{
      width: 150px;
      height: 150px;
    }
  }
  
  