
.content{
    text-align: center;
}

input{
    width: 60%;
    height: 40px;
    font-size: 20px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid;
}

textarea{
    width: 60%;
    height: 40px;
    font-size: 20px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid;
}

.submit-button{
    height: 30px;
    margin-bottom: 40px;
    grid-column: 1 / 3;
    margin-top: 10px;
}
#button{
    width: 60%;
    height: 100%;
    height: 40px;
    border: 3px solid;
    font-size: 20px;
}
input{
    background-color: rgba(183, 219, 251, 0.895);
    outline: none;
}

textarea{
    background-color: rgba(183, 219, 251, 0.895);
    outline: none;
}

#button:disabled {
    background-color: rgba(183, 219, 251, 0.895);
}

.feedback-form{
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: center;
    row-gap: 20px;
}

.feedback-content{
    grid-column: 1 / 3;
}

#feedback-input{
    width: 80%;
    height: 150px;
}



label{
    display: block;
    font-size: 25px;
}
